body {
    width: 100%;
    background-image: url("https://i.pinimg.com/originals/3a/9d/f3/3a9df3a96053038c015f7583a8ee3544.jpg");
    background-size: cover;
}

h1 {
    font-size: 80px;
    text-align: center;
    color: #000000;
    font-family: cursive;
    margin-top: 60px;
    text-shadow: 2px 5px #ffffff;
}

h2 {
    font-size: 40px;
    text-align: center;
    color: #000000;
    font-family: cursive;
    margin-top: 80px;
    text-shadow: 2px 5px #ffffff;
}

button {
    margin-top: 250px;
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    font-family: cursive;
    text-transform: uppercase;
    font-weight: bold;
    color: #000000;
    border: 2px solid #663300;
    background-color: #cc9933;
}

@media (max-width: 600px) {
    body {
        background-image: url("https://i.pinimg.com/originals/52/ab/3b/52ab3be63c5b8c7c53d755176b0a389c.jpg");
        background-position: center;
    }

    h1 {
        color: #cc9933;
        text-shadow: 2px 5px #ffffff;
        margin-top: 60px;
    }
    
    h2 {
        font-size: 35px;
        color: #ffffff;
        text-shadow: 2px 5px  #000000;
    }

    button {
        margin-top: 150px;
        padding: 10px;
        margin-left: 180px;
    }
}